
.container {
    .nav-left {
        height: calc(100vh);
    }
    .main {
        // flex: 1;
        height: calc(100vh);
    }
    .content {
        position: relative;
        padding: 20px;
    }
}